# Ignore node_modules because we want Docker to install dependencies fresh inside the container
node_modules
# Ignore git and github action folders
.git
.github
# Ignore log files
npm-debug.log
# Ignore environment variables that might contain secrets
.env
# Ignore Dockerfiles themselves to prevent them from being copied into the image
Dockerfile
.dockerignore
